@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-family: 'Young Serif', serif;
}

* {
    font-family: 'Montserrat', sans-serif;
}
:root {
    --primary-color: #BD3246;
    --secondary-color: rgb(141, 5, 5);
}